<ion-header>
    <ion-toolbar>
        <ion-title>Buscar productos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-searchbar enterkeyhint="search" (ionInput)="buscarProductos( $event )" ionInput placeholder="Buscar productos"></ion-searchbar>

    <ion-list *ngIf="productoService.resultados.length > 0">

        <ion-item *ngFor="let item of productoService.resultados" [routerLink]="['producto', item ]">
            <ion-label>{{ item.producto }}</ion-label>
        </ion-item>

    </ion-list>

</ion-content>