<ion-header>
    <ion-toolbar>

        <ion-buttons *ngIf="usuarioService.activo()" slot="start">
            <ion-button (click)="usuarioService.cerrarSesion()">
                Salir
            </ion-button>
        </ion-buttons>

        <ion-title>
            Mi Tienda
        </ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="carritoService.verCarrito()">
                <ion-icon color="primary" slot="icon-only" name="cart"></ion-icon>
                <ion-badge color="danger" *ngIf="carritoService.items.length > 0" class="carritoNumero">
                    {{ carritoService.items.length }}
                </ion-badge>
            </ion-button>
            &nbsp; &nbsp;
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col size="6" sizeMd="4" sizeLg="3" *ngFor="let item of productoService.productos" [routerLink]="['producto', item ]">
                <img [src]="item.codigo | imagen" alt="">
                <p>
                    {{ item.producto }}
                    <br> {{ item.precio_compra | currency: 'USD':'symbol-narrow' }}
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="siguientePagina($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más productos...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>