<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                Cerrar
            </ion-button>
        </ion-buttons>

        <ion-title>Carrito de compras</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div *ngIf="carritoService.items.length === 0" class="ion-text-center carritoVacio">
        <ion-icon class="icon-5x" slot="start" name="cart-outline"></ion-icon>
        <br/> Su carrito esta vacío
    </div>

    <div *ngIf="carritoService.items.length > 0">

        <ion-grid>
            <ion-row *ngFor="let item of carritoService.items">
                <ion-col>
                    <img [src]="item.codigo | imagen" alt="item.producto">
                </ion-col>
                <ion-col>
                    <p>{{ item.producto }}</p>
                    <p>{{ item.precio_compra | currency:'USD':'symbol-narrow' }}</p>
                    <ion-button (click)="borrarItem()" color="danger" fill="outline" size="small">
                        Eliminar
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <hr>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <h3>
                        <strong>Total:</strong> {{ carritoService.totalCarrito | currency:'USD':'symbol-narrow' }}
                    </h3>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-button (click)="realizarPedido()" expand="block">
            Realizar Pedido
        </ion-button>

    </div>
</ion-content>